
# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama
pkg/ @kyasbal @RyuSA @jyane @yfuruyama
test/ @kyasbal @RyuSA @jyane @yfuruyama

# Web front related files
web/ @kyasbal @renamoo @jyane
