# Mark generated code as such for GitHub Linguist
pkg/generated/** linguist-generated=true
web/src/app/generated/** linguist-generated=true
pkg/model/khifile/v6/style/assets/** linguist-generated=true
