# IDE settings
.devcontainer/.env

# Build artifacts
pkg/server/dist/*
bin
/khi
/khi-debug
__debug_bin*

# Generated KHI files
*.khi

# Test and coverage reports
go-cover.html
go-cover.output
result.json

# Node dependencies
node_modules/

# Terraform state
.terraform/

# OS-specific files
.DS_Store

# Local environment variables
.envrc

# Generated Golang files
pkg/generated/*.go
zzz_*.go