.container
    z-index: 10000
    :host::ng-deep
        .mat-mdc-form-field-error
            backdrop-filter: blur(3px)
            background-color: rgba(0,0,0,0.8)
            border-radius: 10px
            padding: 10px
            font-size: small
            color: lighten(red,30%)

        .mat-mdc-form-field-subscript-wrapper
            height: 0
            z-index: 1000
    mat-label
        font-size: small
