@use '@angular/material' as mat
@use '../color-palette.sass' as cp

$size:25px

$normal-background: mat.get-color-from-palette(cp.$khi-selectable-button-palette,'lighter')
$normal-text: mat.get-color-from-palette(cp.$khi-selectable-button-palette,'lighter-contrast')
$selected-background: mat.get-color-from-palette(cp.$khi-selectable-button-palette,'darker')
$selected-text: mat.get-color-from-palette(cp.$khi-selectable-button-palette,'darker-contrast')
$disabled-background: mat.get-color-from-palette(cp.$khi-disabled-palette,'darker')
$disabled-text: mat.get-color-from-palette(cp.$khi-disabled-palette,'darker-contrast')

:host
    height: $size
.container
    all: unset
    display: block
    width: $size
    height: $size
    &:hover
        cursor: pointer
        background-color: darker($normal-background,5%)
    background-color: $normal-background
    color: $normal-text
    &.selected
        background-color: $selected-background
        color: $selected-text
        &:hover
            background-color: lighten($selected-background,5%)
    &.disabled
        background-color: $disabled-background
        color: $disabled-text
        &:hover
            cursor: default
            background-color: $disabled-background
            color: $disabled-text

