@use '@angular/material' as mat

$khi-menu-palette: mat.define-palette(mat.$indigo-palette)
$khi-selectable-button-palette: mat.define-palette(mat.$blue-palette)
$khi-disabled-palette: mat.define-palette(mat.$gray-palette)
