@use '../../generated' as gen
@use '@angular/material' as mat

$FONT_SIZE: 12px
$LABEL_BACKGROUND: mat.get-color-from-palette(mat.$indigo-palette,600)
$BACKGROUND: mat.get-color-from-palette(mat.$indigo-palette,100)
$LABEL_COLOR: white
$LABEL_WIDTH: 100px
mat-icon
    width: $FONT_SIZE
    height: $FONT_SIZE
    font-size: $FONT_SIZE
    margin: 3px 3px -3px 1px
.container
    color: $LABEL_COLOR
    background-color: $BACKGROUND
    display: flex
    flex-wrap: wrap
    column-gap: 10px
    .label
        display: inline-block
        width: $LABEL_WIDTH
        white-space: nowrap
        font-weight: bold
        margin-right: 10px
        font-size: $FONT_SIZE
        background-color: $LABEL_BACKGROUND
    .value
        text-align: center
    p
        margin: 0
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        min-width: 200px
.log-type
    flex: 1
    .value
        @include gen.log-type-shape-colors-for-all
        color: white
        padding: 0px 8px
        border-radius: 8px
        font-size: $FONT_SIZE

.log-severity
    flex: 1
    .value
        @include gen.log-severity-colors-for-all
        color: white
        padding: 0px 8px
        border-radius: 8px
        font-size: $FONT_SIZE