.root
    height: 100%
    display: grid
    grid-template-areas: "title" "graph"
    grid-template-rows: auto 1fr
    .graph-wrapper
        grid-area: graph
        overflow: hidden
    graph-title-bar
        grid-area: title
    graph-graph-seek-tool
        position: absolute