@use '@angular/material' as mat

$resizer-color: mat.get-color-from-palette(mat.$gray-palette,500)
$header-size: 20px
$FONT_SIZE: 14px

.pane
    display: grid
    height: 100%
    grid-template-areas: "resizer header" "resizer body"
    grid-template-columns: 5px auto
    grid-template-rows: $header-size 1fr

.resizer
    grid-area: resizer
    background-color: $resizer-color
    &:hover
        cursor: col-resize
        background-color: darken($resizer-color, 10%)

.header
    grid-area: header
    height: $header-size
    user-select: none
    font-size: $FONT_SIZE

.body
    grid-area: body
    overflow: hidden